.hero{
    height: 70vh;
    width: 100%;
    background: url("../images/fallingStar.jpg");
    background-size: cover;
    display: grid;
    place-content: center;
}

.hero__title{
    font-size: 5rem;
    font-weight: 400;
    margin-top: 150px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1025px){
    .hero__title{
        font-size: 4rem;
        margin: 50px;
    }
}

@media (max-width: 768px){
    .hero__title{
        font-size: 4rem;
    }
}