.top_section{
    height: 100vh;
    min-height: 800px;
    background: url("../images/fallingStar.jpg");
    background-size: cover;
    display: grid;
    place-content: center;
}

.section1, .section2{
    height: auto;
    padding: 100px 0;
}
