.top_section{
    height: 100vh;
    min-height: 800px;
    background: url("../images/fallingStar.jpg");
    background-size: cover;
    display:-ms-flexbox;
    -ms-flex-align: center;
    display: grid;
    place-content: center;
}