.top_section{
    height: 100vh;
    min-height: 800px;
    background: url("../images/fallingStar.jpg");
    background-size: cover;
    display: grid;
    place-content: center;
}

@media (max-width: 768px){

    .top_section{
        min-height: 950px;
    }
}