.newsletter{
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
    min-height: 365px;
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
    background: #000;
}

.newsletter_title{
    font-size: 2.6rem;
    padding: 0 10px;
}

.newsletter_paragraph{
    font-size: 1.8rem;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 10px;
}

.newsletter_input{
    height: 25px;
    margin-top: 5px;
    max-width: 250px;
    width: 80%;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    font-size: 1.8rem;
}

.newsletter_message{
    display: block;
    font-size: 2rem;
    margin-top: 25px;
    min-height: 30px;
}

.newsletter_message--success{
    color: lightgreen;
    border-color: lightgreen;
}

.newsletter_message--error{
    color: rgb(211, 73, 73);
    font-weight: 900;
    border-color: rgb(211, 73, 73);
}

.newsletter_input--success{
    border-color: lightgreen;
}

.newsletter_input--error{
    border-color: rgb(211, 73, 73);
}

.newsletter_button{
    display: block;
    margin: 20px auto;
}

/* Media Queries */

@media (max-width: 768px){

    .newsletter{
        text-align: center;
        border: 2px solid white;
        border-radius: 4px;
        height: auto;
        margin: 0 auto;
        max-width: 600px;
        width: 90%;
    }
}
