.news{
    display: grid;
    margin: 50px auto 50px;
    max-width: 1200px;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.news_box_link_image{
    opacity: .75;
}

.news_box_link_image:hover{
    opacity: 1;
    transition: .3s ease-in-out;
}

.news_image{
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.news_box{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
    background-color: #000000;
    border-bottom: 2px solid white;
}

.news_box_title{
    font-size: 2.6rem;
    margin: 10px 0 0;
}

.news_box_details{
    font-size: 1.6rem;
}

.news_box_button{
    margin: 10px 0 10px;
}

.news_box_button a{
    text-decoration: none;
}
