.next_mission_div{
    margin-top: 150px;
    height: 600px;
}

.next_mission{
    width: 100%;
    text-align: center;
    color: white;
    max-width: 900px;
}

.next_mission--grid{
    display: grid;
    grid-template-columns: 60% 40%;
}

.badge_container{
    text-align: left;
}

.next_mission_badge{
    width: 300px;
    margin-top: 60px;
}

.next_mission__title{
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 10px;
}

.next_mission__launch{
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 10px;
}

.next_mission__countdown{
    font-size: 6rem;
    display: block;
    text-transform: uppercase;
    padding: 0 10px;
}

.next_mission__button{
    margin: 30px auto 0;
    display: block;
}

.next_mission a{
    text-decoration: none;
}

.next_mission__description{
    font-size: 1.6rem;
    max-width: 600px;
    margin: 30px auto 20px;
    min-height: 300px;
    padding: 0 10%;
    text-align: justify
}

.next_mission__p--hidden{
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.next_mission__p{
    visibility: visible;
    opacity: 1;
    transition: .3s ease-in-out;
}


@media (max-width: 1025px){

    .next_mission__countdown{
        font-size: 5rem;
    }

    .next_mission_badge{
        width: 250px;
    }
}

@media (max-width: 768px){

    .next_mission{
        width: 100%;
        text-align: center;
        color: white;
    }

    .next_mission--grid{
        grid-template-columns: 1fr;
    }
    
    .badge_container{
        text-align: center;
        grid-row: 1;
    }
    
    .next_mission_badge{
        width: 150px;
        margin: 0 auto 30px;
    }

    .next_mission_div{
        margin-top: -20px;
        height: 600px;
    }

    .next_mission__title{
        font-size: 3rem;
    }

    .next_mission__launch{
        font-size: 2rem;
    }

    .next_mission__countdown{
        font-size: 5rem;
    }
}


