
  
  .rocket-container{
    width: 100px;
    display: block;
  }
  
  .st0{fill:#F47B01;}
      .st1{fill:#FEC829;}
      .st2{fill:#F8EE78;}
      .st3{fill:#EE7801;}
      .st4{fill:#EF7801;}
      .st5{fill:#ED7801;}
    .st6{fill:#ED7701;}
    
  .fire-container{
    width: 200px;
    display: block;
    height: auto;
  }
  
  .sticky {
    height: 100vh;
    background: url("../images/space.jpg");
    background-size: cover;
    width: 100%;
    overflow: hidden;
  }

  .newsletter_container h2{
    font-size: 6rem;
    max-width: 500px;
    width: auto;
    margin: 0 auto;
    padding: 0 0 0 5%;
  }

  

@media (max-width: 768px){

  .newsletter_container h2{
    font-size: 4em;
  }
}